extends layout

block content
  h2 Nueva Admisión

  form(action="/admision" method="POST")
    .mb-3
      label(for="id_paciente") Paciente
      select.form-select(name="id_paciente" required)
        option(value="") -- Selecciona un paciente --
        each paciente in pacientes
          option(value=paciente.id_paciente)= paciente.nombre + ' ' + paciente.apellido

    .mb-3
      label(for="fecha_admision") Fecha de Admisión
      input.form-control(type="datetime-local" name="fecha_admision" required)

    .mb-3
      label(for="diagnostico") Diagnóstico inicial
      textarea.form-control(name="diagnostico" required)

    .mb-3
      label(for="estado") Estado del paciente
      select.form-select(name="estado" required)
        option(value="Estable") Estable
        option(value="Grave") Grave
        option(value="Crítico") Crítico

    .mb-3
      label(for="id_habitacion") Habitación
      select.form-select(name="id_habitacion" required)
        option(value="") -- Selecciona habitación --
        each hab in habitaciones
          option(value=hab.id_habitacion)= 'Hab. ' + hab.id_habitacion

    // Si todavía no hay internación creada, podés hacer esto temporalmente:
    input(type="hidden" name="id_internacion" value="1")

    button.btn.btn-success(type="submit") Admitir Paciente
    a.btn.btn-secondary(href="/") Cancelar